@model SearchModel
<script>
            $('#searchTerm').val('@HttpUtility.JavaScriptStringEncode(Model.SearchTerm, false)');
</script>

<h2 id="search-message"></h2>

<script type="text/javascript">    
    $(function () {                
        var message = 'All results for <i>@HttpUtility.JavaScriptStringEncode(Model.SearchTerm, false)</i>';        
        $("#search-message").html(message).hide().show('slow');
    });
</script>           

<table class="table">
    <tr>
        <th>
            SearchTitle
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>
    </tr>

    @foreach (var item in Model.SearchResults)
    {
        <tr>
            <td>
                <a href="@item.SearchTitle">klik here</a>
                @AntiXssEncoder.HtmlEncode(item.SearchTitle, false);

            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @item.Link
            </td>            
        </tr>
    }
</table>
