@model SearchModel

<script>   
    $('#searchTerm').val('@Html.Raw(Model.SearchTerm)');
</script>

<script type="text/javascript">
    $(function () {
        var message = 'All results for <i>@Model.SearchTerm</i>';
        $("#search-message").html(message).hide().show('slow');
    });
</script>       

<h2 id="search-message"></h2>

<table class="table">
    <tr>
        <th>
            SearchTitle
        </th>
        <th>
            Description
        </th>
        <th>
            Link
        </th>        
    </tr>

@foreach (var item in Model.SearchResults) {
    <tr>
        <td>            
            <a href="@item.SearchTitle">klik here</a>            
            @Html.Raw(item.SearchTitle)            
        </td>
        <td>
            @item.Description
        </td>
        <td>
            @item.Link
        </td>
    </tr>
}
</table>
