@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ISessionOverview>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @foreach (var item in Model.Children)
            {
                <div class="row">
                    <div class="col-sm-3">
                        @RenderImage(item, b => b.Speaker.ProfilePicture, new { W = 263, H = 263, Width = 263, Height = 263 })

                        <h3 class="person-title">@item.Speaker.Name</h3>
                        <p>
                            <a href="@item.Speaker.Url" class="btn btn-primary">View Profile</a>
                        </p>
                    </div>
                    <div class="col-sm-7">
                        <h3><a href="@item.Url">@item.SessionTitle</a></h3>
                        <p>
                            @item.SessionDescription
                        </p>                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>