@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ISessionDetail>
<div class="container">
    <div class="row">
        <div class="col-sm-12">           
                <div class="row">
                    <div class="col-sm-3">
                        @RenderImage(Model, b => b.Speaker.ProfilePicture, new { W = 263, H = 263, Width = 263, Height = 263 })
                        <h3 class="person-title">@Model.Speaker.Name</h3>
                        <p>
                            <a href="@Model.Speaker.Url" class="btn btn-primary">View Profile</a>
                        </p>
                    </div>
                    <div class="col-sm-7">
                        <h3><a href="@Model.Url">@Model.SessionTitle</a></h3>
                        <p>
                            @Model.SessionDescription
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>>

