@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ISpeaker> 

<div class="session-details">
    <h2>@Model.Name</h2>
    @RenderImage(m => m.ProfilePicture, new { W= 360, H=360, Width=360, Height = 360})
    <p>
        @Model.Details <br />
        bio: @Model.Biography<br />
    
        @Model.Facebook <br />
        @Model.LinkedIn <br />
        @Model.Twitter <br />        
    </p>
</div>

